body{
    background-color: black;
    font-family:Arial, Helvetica, sans-serif;
}

.welcome{
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:38px;
    font-weight:bold;
    color:rgb(152, 195, 121);
    margin-bottom:12px;
    
    
}
.instr{
  text-align: center;
  font-size:16px;
  color:rgb(152, 195, 121);
  margin-top:0px;
}
.display{
    font-family:Arial, Helvetica, sans-serif;
    font-size:22px;
    font-weight: bold;
    color:rgb(141, 136, 136);
    word-spacing:25px;
    line-height: 40px;
    margin-bottom:30px;
    
}
.untyped{
    color:rgb(153, 153, 153);
}
.correct{
    color:rgb(255, 255, 255);
}
.wrong{
    color:rgb(240, 123, 123);
}

.cursor{
 
    text-decoration:underline ;

}
.show-js,.clear-js{
    width:120px;
    height:37px;
    color:rgb(152, 195, 121);
    font-weight:bolder;
    background-color: aliceblue;
    border-radius:25px;
    border:solid;
    border-color: rgb(152, 195, 121);
    margin-right:12px;
    align-items: center;
    background-color: rgb(96, 60, 36);
}
.timetaken{
    color:white;

}
.Accuracy{
    color:white;
    
}
.wpm{
    color:white;
    
}
input{
opacity:0;
position:absolute;


}