body{
    background-color: #333;
    font-family:Montserrat;
}
.container{
    position:absolute;
    left: 100px;
    right:100px;
    top:40px;


}

.welcome{
    display:flex;
    align-items:left;
    color:rgb(86, 156, 214);
    margin-bottom:40px;
    
    
}
.newinst{
  background-color: rgb(37, 37, 37); ; 
  text-align: center;
  font-size:16px;
  color:rgb(86, 156, 214);
  width:400px;
  margin: 0 auto;
  padding:15px 6px 15px 6px;
  border-radius:50px;
  box-shadow:2px 2px 10px rgb(76, 140, 199);
   margin-bottom:28px;

  
}
.display{
    font-size:22px;
    font-weight: 400;
    color:rgb(141, 136, 136);
    word-spacing:30px;
    line-height: 40px;
    font-family: Montserrat;
    margin-top:20px;
    position:absolute;
    margin-left:60px;
    
}
.untyped{
    color:rgb(153, 153, 153);
}
.correct{
    color:rgb(255, 255, 255);
}
.wrong{
    color:rgb(240, 123, 123);
}

.cursor {
    position: relative;
}

.cursor::after {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 2px;
    height: 1.2em;
    background-color: rgb(86, 156, 214);
}
.show-js,.clear-js{
    width:70px;
    height:37px;
    color:rgb(237, 237, 237);
    font-size:12px;
    border-radius:20px;
    cursor:pointer;
    align-items: center;
    background-color: rgb(54, 54, 54);
    border:none;
    padding:7px 3px 7px 3px;
     box-shadow:2px 2px 10px rgb(76, 140, 199);
      margin-bottom:60px;
}
.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}
.show-js:active,.clear-js:active{
    color:rgb(86, 156, 214);
}

.timetaken{
    color:white;

}
.Accuracy{
    color:white;
    
}
.wpm{
    color:white;
    
}
input{
opacity:0;
position:absolute;
}
.result-js {
    text-align: center;
    margin-top: 200px;
    padding: 20px;
    display: none;
    font-size:20px;
}

.timetaken, .Accuracy, .wpm {
    color: rgb(86, 156, 214);
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0;
}
@media (max-width: 1400px) {
    .container {
        left: 50px;
        right: 50px;
    }
}

@media (max-width: 1200px) {
    .container {
        left: 20px;
        right: 20px;
    }
    
    .display {
        font-size: 20px;
        left: 40px;
    }
}

@media (max-width: 900px) {
    .display {
        font-size: 18px;
        word-spacing: 20px;
        left: 20px;
    }
    
    .welcome {
        font-size: 28px;
    }
    
    .newinst {
        width: 300px;
    }
}