body{
    background-color: #333;
    font-family:Montserrat;
}

.welcome{
    display:flex;
    align-items:left;
    color:rgb(86, 156, 214);
    margin-bottom:12px;
    
    
}
.newinst{
  background-color: rgb(37, 37, 37); ; 
  text-align: center;
  font-size:16px;
  color:rgb(86, 156, 214);
  width:400px;
  margin: 0 auto;
  padding:15px 6px 15px 6px;
  border-radius:50px;
  box-shadow:2px 2px 10px rgb(96, 93, 93);

  
}
.display{
    font-family:Arial, Helvetica, sans-serif;
    font-size:22px;
    font-weight: bold;
    color:rgb(141, 136, 136);
    word-spacing:25px;
    line-height: 40px;
    margin-bottom:30px;
    
}
.untyped{
    color:rgb(153, 153, 153);
}
.correct{
    color:rgb(255, 255, 255);
}
.wrong{
    color:rgb(240, 123, 123);
}

.cursor{
 
    text-decoration:underline ;

}
.show-js,.clear-js{
    width:70px;
    height:37px;
    color:rgb(237, 237, 237);
    font-size:12px;
    cursor:pointer;
    background-color: rgb(52, 55, 57);
    align-items: center;
    background-color: rgb(54, 54, 54);
    border:none;
    padding:7px 3px 7px 3px;
}
.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}
.show-js:active,.clear-js:active{
    color:rgb(86, 156, 214);
}

.timetaken{
    color:white;

}
.Accuracy{
    color:white;
    
}
.wpm{
    color:white;
    
}
input{
opacity:0;
position:absolute;


}
