body{
    background-color: black;
    font-family:Arial, Helvetica, sans-serif;
}

.welcome{
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:38px;
    font-weight:bold;
    color:hotpink;
    margin-bottom:12px;
    
    
}
.instr{
  text-align: center;
  font-size:16px;
  color:hotpink;
  margin-top:0px;
}
.display{
    font-family:Arial, Helvetica, sans-serif;
    font-size:22px;
    font-weight: bold;
    color:rgb(141, 136, 136)
}
.untyped{
    color:gray;
}
.correct{
    color:black;
}
.wrong{
    color:red;
}
input{
    opacity:0;
}
.cursor{
 
    text-decoration: underline;

}
.show-js,.clear-js{
    width:120px;
    height:37px;
    color:hotpink;
    font-weight:bolder;
    background-color: aliceblue;
    border-radius:25px;
    border:solid;
    border-color: hotpink;
    margin-right:12px;
    align-items: center;
}